@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white; 
    color: #e2e8f0; 
    margin: 0;
    padding: 0;
}

#main-title {
    background-color: #1114ed; 
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#main-title a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

#league-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.league-item {
    display: inline-block;
    position: relative;
}

.league-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    background: #f573d7; 
    border-radius: 6px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.league-item:hover a {
    background-color: #1114ed; 
    color: white;
}

#league-list:hover .league-item {
    display: block;
}

#section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #1114ed; 
    margin-top: 20px;
}

#basketball-image {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid #facc15; 
    border-radius: 10px;
}

#basketball-image {
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(244, 63, 94, 0.2); 
}

#overview {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: #f573d7;
}

#description {
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #f573d7; 
    padding: 0 20px;
}

@media (max-width: 768px) {
    #description {
        padding: 0 20px;
    }
}

body {
    padding: 60px; 
    font-family: Arial, sans-serif;
}

#mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background: #facc15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode {
    background-color: #1e293b; /* 어두운 배경 */
    color: #f8fafc; /* 밝은 텍스트 */
}

.dark-mode #main-title {
    background-color: #f573d7; /* 변경된 타이틀 색상 */
}

.dark-mode #description {
    color: #e2e8f0; /* 밝은 회색 텍스트 */
}
